
body.dellemuse {margin:0; padding:0; color:#131414; font-family: Montserrat, Arial, sans serif; font-size:15px; }


.main {min-height: calc(100vh - 117px);}




.banner {background:#cccccc; color:white; height:200px;}

.border {border: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color); border-radius: var(--bs-border-radius);}
.separator {border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;}
.dropdown-item a {color: var(--bs-navbar-active-color); text-decoration:none;}
.global-footer .menu-item a {padding:15px 30px; color: var(--bs-navbar-active-color); text-decoration:none;}

.dellemuse-color {color:#dd4508;}

.icon-expander {width:2em; float:left;}
.icon-collapsed {width:1em; float:left;}
.icon-expanded {width:1em; float:left;}

.breadcrumb-item.active a,
a.listItemLink {text-decoration: none; color: inherit;}

.dellemuse h1, 
.dellemuse .h1 {font-size: 1.85em;font-weight: bold;}

 
.dellemuse h2, 
.dellemuse .h2 {font-size: 1.65em;font-weight: bold;}
 
.dellemuse h3, 
.dellemuse .h3 {font-size: 1.45em;font-weight: bold;}
 

.dellemuse h4, 
.dellemuse .h4 {font-size: 1.2em;font-weight: bold;}

.dellemuse .text p:last-child { margin-bottom:0;}
 
.dellemuse .text-to-read {line-height: 1.7em; font-size:1.1em;}
 
.dellemuse .list-group-item p {margin:0em;}

 
 .dellemuse .breadcrumb .dropdown-menu.show {
  	width: 100%;
    text-align: center;
    font-size: 1em;
	}
 
 .dellemuse .breadcrumb  .dropdown-item { text-wrap: auto; }
 

 
 